.ChatChannelMessagesList-messages{
    background: #13171b;
}
.TeamNavMenu-wrapper-thick-scrollbar{
    background: #0e1013;
}
.GroupSelector-container{
    background: #020203;

}
.ChatChannelInput-container .ChatChannelInput-editor {
    background: #13171b;
}
.ParagraphRenderer{
    color: #fff;
}
.ChatChannelInput-container{
    background: #13171b;
}
.ScreenHeader-container{
    background: #13171b;
}
.PageSidebarWrapper-container-tabs{
    background: #13171b;
}
.TeamPageSidebarMembersV2-container{
    background: #13171b;
}
.OptionsMenuPageWrapper-container{
    background: #0e1013;
}
.DefaultReadonlyEditableForm-container{
    background: #0e1013;
}
.PersistentUpsell-container-flavor-settings{
    background: #0e1013;
}
.RadioOptionPane-container-selected{
    background: #0e1013;
}
.SocialLinkPanel-header{
    background: #0e1013;
}
.CheckboxPanel-container-selected{
    background:#0e1013;
}
.DesktopAppGameOverlaySettingsPage-container{
    background: #13171b;
}
.TeamPageContent-content{
    background: #13171b;
}
.SidebarInfoItem-container{
    background: #13171b;
}
.PageSidebarWrapper-container{
    background: #13171b;
}
.PostDisplayV2-container{
    background: #13171b;
}
.ChatChannelInput-no-permissions{
    background: #13171b;
}
.ChannelActivityDisplay-items{
    background: #13171b;
}
.ChannelActivityDisplay-item{
    background: #13171b !important;
}
.ChannelActivityDisplay-group-header{
    background: #13171b;
    margin-top: 2%;
    margin-bottom: 2%;
}
.ChannelActivityDisplayHeader-container{
    background: #13171b;
}
.ChatChannelList-items{
    background: #13171b;
}
.ChatChannelList-item-container-selected{
    background: #000000;
}
.ChatChannelList-item-container{
    background-color: #0e1013;
}
.ChatChannelList-container{
    background: #13171b;
}
.WebAppSidebar-portal{
    background: #13171b;
}
.NavV4SelectionSidebar-container{
    background: #13171b;
}
.NavV4SelectionSidebarOption-container-active{
    background: rgba(255, 255, 255, 0.2)
}
.WebAppSidebarMenu-container{
    background: #13171b;
}
.NavV4SectionSidebar-container{
    background: #13171b;
}
.ReGuildedSettings-coantainer-top-padded{
    background: #13171b;
}
.ChannelWrapper-container-scrollable .ChannelWrapper-content{
    background: #13171b;
}